/* Sets card height to about two lines of description */
.ui.frontend.card .description {
  min-height: 55px;
}

.ui.frontend.card p.cmd-line {
  width: 100%;
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;
  font-weight: 400;
  cursor: text;
  text-align: left;
  font-size: 10px;
  padding: 0.5em 1em;
}
