<template name="home">
  <div class="ui stackable three column page grid">
    <div class="one column row">
      <div class="column">
        <h1 class="ui center aligned dividing header">
          UserAccounts for Meteor
          <div class="sub header">
            Amazingly Customizable sign-in and sign-up Templates (and much more!)
          </div>
        </h1>
      </div>
    </div>

    <div class="one column row">
      <div class="column">
        <p>
          User Accounts is a suite of packages for the
          <a href="https://www.meteor.com/" target="_blank"> Meteor.js</a>
          platform. It provides highly customizable user accounts UI templates
          for many different front-end frameworks. At the moment it includes
          forms for sign in, sign up, forgot password, reset password, change
          password, enroll account, and link or remove of 3rd party OAuth
          services.
        </p>
        <div class="two fluid ui buttons">
          <a class="ui green icon button" href="https://github.com/meteor-useraccounts/core/blob/master/Guide.md" target="_blank">
            <i class="file text outline icon"></i>
            HAve a look at the Official Guide
          </a>
          <div class="or"></div>
          <a class="ui purple icon button" href="https://useraccounts-meteorday.meteor.com" target="_blank">
            <i class="file powerpoint outline icon"></i>
            Play with the MeteorDay presentation
          </a>
        </div>


      </div>
    </div>

    <div class="one column row">
      <div class="column">
        <h1 class="ui center aligned dividing header">
          Available Styles
          <div class="sub header">
            Easy to configure, heavily customizable, they simply work!
          </div>
        </h1>
      </div>
    </div>

    <div class="one column row">
      <div class="column">
        <p>
          Easily add accounts templates to your project, writing just a very few
          lines of code.
        </p>
        <p>
          All the logic, helpers, and events handlers are provided by the base package
          <a href="https://atmospherejs.com/useraccounts/core" target="_blank">
            useraccounts:core
          </a>
          so that UI templates can be easily styled for different frameworks
          simply changing a few html lines!
        </p>
      </div>
    </div>

    {{#each frontends}}
      <div class="column">
        {{> frontendCard}}
      </div>
    {{/each}}
  </div>
</template>
